body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #deac52;
    color: black;
}

.body_header {
    text-align: center;
}

.header_logo {
    margin: 0 85px;
}

.body_main{
    text-align: center;
}


.pokemon-button{
  margin: 2px;
  width: 100px;
  display: inline-block;
  font-family: inherit;
  background-color: #4d4d4d !important;
  color: white !important;
  text-decoration: none;
  padding: 12px;
  border-radius: 12px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.pokemon-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.pokemon-list{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
